.navbar-section {
    background: linear-gradient(270.02deg, #000035 0.02%, #001B9F 47.76%, #000035 100.12%);
}

/* #nav-heading {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;

    color: #FFFFFF;

} */

#hero-section {

    background: linear-gradient(90deg, #000035 0%, #002BFD 33.33%, #1FE2D3 66.66%, #B2FF4E 100%);
}

#hero-heading {

    font-family: 'DM Serif Display';
    font-style: normal;
    color: #FFFFFF;
}

#hero-passage {

    font-family: 'DM Sans';
    font-style: normal;

    color: #CECECE;

}

#hero-passage2 {
    font-family: 'Inter';
    font-style: normal;


    color: #ffffff;
}

#about {
    background: linear-gradient(90deg, #000035 0%, #003AF6 100%);
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
}

#about-image {

    background: url(eaa476cb-9381-459f-a161-344629a278dd.jpg);
    box-shadow: 0px 0px 30px 50px rgba(0, 58, 246, 0.5);
}

#about-passage1 {
    font-family: 'DM Sans';
    font-style: normal;
    color: #FFFFFF;
}

#about-passage2 {
    font-family: 'DM Sans';
    font-style: normal;
    color: #FFFFFF;
}

#about-passage3 {
    font-family: 'DM Serif Display';
    font-style: normal;
    color: #FFFFFF;

}

#skills-hero {
    font-family: 'DM Serif Display';
    font-style: normal;
    color: #000000;

}

#skills-passage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 39px;

    color: #848A96;
}

#skills-html {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-bootstrap {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-react {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-version {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-figma {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-team {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-adaptable {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-html {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-responsive {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-fastpaced {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#skills-java {
    width: 180px;
    height: 180px;

    background: linear-gradient(88.82deg, #052077 2.52%, #0E35A9 48.2%, #B2FF4E 95.89%);
    border-radius: 0px 20px 20px 0px;
}

#project-hedding {
    width: 794px;
    height: 60px;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;

    color: #000000;
}

#project-passage {
    width: 1384px;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    color: #848A96;
}

#project-image-1 {
    width: 700px;
    height: 404px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#portfolio {
    background: linear-gradient(90.06deg, #002BFD -0.19%, #1FE2D3 63.44%, #B2FF4E 99.94%);
}

#contact-me {
    background: linear-gradient(90.24deg, #000035 0.24%, #002BFD 99.82%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

#contact-tiles {
    width: 180px;
    height: 180px;
    background: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
}

#footer-note {
    background: linear-gradient(90deg, #000035 0%, #003AF6 51.44%, #000035 98.96%);
}